{% extends "informationapp/base.html" %}


{% block title %}
    Create Station
{% endblock  %}

{% block body %}
    <h1>Добавление данных для станции</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {{form.as_p}}

        <button type="submit">
            Создание
        </button>
    </form>
    </div>
    <div>
        <a href="{% url 'informationapp:info-list' %}">Возвращение на страницу с перечнем станций</a>
    </div>
    <div>
        <a href="{% url 'informationapp:info-index' %}">Возвращение на главную страницу</a>
    </div>
{% endblock  %}